.userPage{
    max-width: 1040px;
    justify-self: center;
}
.star{
    display: inline-flex;    
    font-size: 24px;
}
.favourite{
    color: #FEE600;
}
.userAddToFavourite{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.secondHeader>p{
    font-size: 18px;
}
.userName{
    font-size: 24px;
    line-height: 1
}
.postsContainer{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.userPost{
    padding: 10px;
    border-radius: 15px;
    background-color: #2E2B2B;
    font-size: 13px;
}
.userPost>h3{
    font-size: 16px;
}
